# /etc/systemd/system/vt-blank.timer
[Unit]
Description=Run VT1 blank service every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=vt-blank.service

[Install]
WantedBy=timers.target
